Package: com.999.uptimevn
Name: Uptime (Gói Tiếng Việt)
Description: Việt hoá tweak Uptime trong Trung tâm điều khiển 
Maintainer: BIEN VAN NHAT
Author: BIEN VAN NHAT
Section: Tweaks
SileoDepiction: https://bvnrepo999.github.io/sileodepictions/Uptime.json
Icon: https://bvnrepo999.github.io/icon/dich.png
Depends: mobilesubstrate, oldabi-stub|oldabi
Priority: optional
Architecture: iphoneos-arm64
Version: 0.0.1-1-1+debug
Installed-Size: 168
